<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntanh.doan_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuyCreditActivity"
            android:label="@string/activity_buy_credit"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".NewGameActivity"
            android:label="@string/activity_new_game"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ManageAccountActivity"
            android:label="@string/activity_manage_account"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPassWordActivity"
            android:label="@string/activity_forgot_pass"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/activity_register"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>